body {
  font-family: Arial, sans-serif;
  background: #e3f2fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.weather-container {
  background: rgb(138, 80, 80);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.hidden {
  display: none;
}